<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pañol - Herramientas</title>
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/components.css">
    <link rel="stylesheet" href="/static/styles/items.css">
    <link rel="stylesheet" href="/static/styles/usuario.css">
</head>
<body>
    <div id="body">
    <div class="header">
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <img class="logo" src="/static/assets/logo.jpeg" alt="Logo Pañol">

        <span class="usuario" id="usuario"></span>
    </div>
    <div class="main">
        <div class="sidebar" id="sidebar">
            <a href="/" class="navegacion">🏠 Inicio</a>
            <a href="/pedidos" class="navegacion">📦 Mis Pedidos</a>
        </div>

        <div class="content">
            <input class="search-bar" type="text" placeholder="Buscar herramienta..." id="search-bar" oninput="renderizarStock()">
            <div class="items-container" id="items-container"></div>
        </div>
    </div>
    </div>
<div id="popup" class="popup hidden">
    <div class="popup-close-container">
        <button class="close-btn" onclick="cerrarPopup()" title="Cerrar">✖</button>
    </div>

    <div class="popup-title-container">
        <span class="popup-title" id="herramienta-nombre">Herramienta seleccionada</span>
    </div>

    <form id="pedido-form" onsubmit="enviarPedido(event)">
            <span class="entrada">
                <label for="integer-entry">Cantidad:</label>
                <input type="number" name="cantidad" id="integer-entry" value="0" min="0">
            </span>

        <hr>

        <div class="popup-submit-container">
            <button class="submit-btn" type="submit">📝 Enviar Pedido</button>
        </div>
    </form>
</div>

    </div>

    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/index.js"></script>
    <script src="/static/scripts/renderizarStock.js"></script>
    <script src="/static/scripts/usuario.js"></script>  
    <script src="/static/scripts/sessions.js"></script>
</body>
</html>