<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="stylesheet" href="/static/styles/layout.css">
  <link rel="stylesheet" href="/static/styles/components.css">
  <link rel="stylesheet" href="/static/styles/items.css">
  <link rel="stylesheet" href="/static/styles/usuario.css">
  <link rel="stylesheet" href="/static/styles/form.css">
  <link rel="stylesheet" href="/static/styles/form-extras.css">
  <link rel="stylesheet" href="/static/styles/login-bg.css">
</head>
<body>
  <div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form onsubmit="login()">
      <input type="text" name="username" placeholder="DNI" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <span class="message" id="message"></span>
      <button type="submit" class="submit-btn">Entrar</button>
      <a href="/register/" class="link">¿No tienes cuenta? Regístrate</a>
    </form>
  </div>
</body>
<script src="/static/scripts/login.js"></script>
</html>
