<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro</title>
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="stylesheet" href="/static/styles/layout.css">
  <link rel="stylesheet" href="/static/styles/components.css">
  <link rel="stylesheet" href="/static/styles/items.css">
  <link rel="stylesheet" href="/static/styles/usuario.css">
  <link rel="stylesheet" href="/static/styles/form.css">
  <link rel="stylesheet" href="/static/styles/form-extras.css">
</head>
<body>
  <div class="form-container">
    <h2>Crear Cuenta</h2>
    <form onsubmit="register()">
      <div id="nombre">
        <input type="text" name="nombre" placeholder="Nombre" required>
      </div>
      <div id="apellido">
        <input type="text" name="apellido" placeholder="Apellido" required>
      </div>
      <div id="dni">
        <input type="text" name="dni" placeholder="DNI" required>
      </div>
      <div id="password">
        <input type="password" name="password" placeholder="Contraseña" required>
      </div>
      <div id="confirm_password">
        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required>
      </div>
      
      
      
      <button type="submit" class="submit-btn">Registrarse</button>
      <a href="/login/" class="link">¿Ya tienes cuenta? Inicia sesión</a>
    </form>
  </div>
</body>
<script src="/static/scripts/register.js"></script>
</html>
